@model DataDock.Web.ViewModels.RepoSettingsViewModel
  
  <div class="ui container">

    @Html.HiddenFor(m => m.OwnerId)
    @Html.HiddenFor(m => m.RepoId)

    <h4 class="ui dividing header">Data Publisher Details</h4>

    <div class="field">
      @Html.LabelFor(m => m.DefaultPublisherType, new {@class = ""})
      <div class="">
        @Html.DropDownListFor(m => m.DefaultPublisherType, Model.PublisherTypes, new {@class = ""})
        @Html.ValidationMessageFor(m => m.DefaultPublisherType)
      </div>
    </div>

    <div class="field">
      @Html.LabelFor(m => m.DefaultPublisherName, new { @class = "" })
      <div class="">
        @Html.TextBoxFor(m => m.DefaultPublisherName, new { @class = "" })
        @Html.ValidationMessageFor(m => m.DefaultPublisherName)
      </div>
    </div>

    <div class="field">
      @Html.LabelFor(m => m.DefaultPublisherEmail, new { @class = "" })
      <div class="">
        @Html.TextBoxFor(m => m.DefaultPublisherEmail, new { @class = "" })
        @Html.ValidationMessageFor(m => m.DefaultPublisherEmail)
      </div>
    </div>

    <div class="field">
      @Html.LabelFor(m => m.DefaultPublisherWebsite, new { @class = "" })
      <div class="">
        @Html.TextBoxFor(m => m.DefaultPublisherWebsite, new { @class = "" })
        @Html.ValidationMessageFor(m => m.DefaultPublisherWebsite)
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="field">

        @Html.LabelFor(m => m.SearchButtons, new { @class = "" })
        @Html.HiddenFor(m=>m.SearchButtons)
        <p><i class="info icon"></i>Use this table to add search buttons to the data portal home page. The <strong>Button Label</strong> is optional, if it is left out then the tag will be displayed as the label on the portal search button.</p>
        <div id="portalSearchButtons"></div>
    </div>


    @if (!string.IsNullOrEmpty(Model.LastModifiedBy))
  {
    <div class="ui center aligned container">
      <div class="ui hidden divider"></div>
      <div class="ui compact message">

        These settings were last updated

        @if (Model.OwnerIsOrg)
      {
        <span> by @Model.LastModifiedBy</span>
    }
        on @Model.LastModified.ToString("F")
      </div>
      <div class="ui hidden divider"></div>
    </div>
}





  </div>