@model List<DataDock.Web.ViewModels.JobHistoryViewModel>

@if (Model != null && Model.Count > 0)
{
    
  <div class="ui segments">
    @foreach (var job in Model)
    {
      var logAvailable = !string.IsNullOrEmpty(job.LogId);
      <div class="ui attached @job.StatusClass message" id="@job.JobId">
        <div class="ui header">@job.JobType - <span class="job-status"> @job.CurrentStatus </span></div>
        <div class="content">
          <p>
            <strong>@job.DatasetIri</strong>
          </p>
            <div class="meta">
                @if (job.QueuedAt.Year > 2000)
                {
                    <span>Queued At: @job.QueuedAt</span>
                }
                @if (job.StartedAt.Year > 2000)
                {
                     <span>Started At: @job.StartedAt</span>
                }
                @if (job.CompletedAt.Year > 2000)
                {
                    <span>Completed At: @job.CompletedAt</span>
                }
            </div>
        </div>
        <div class="processing-messages hidden"></div>
        <div class="extra content log-link @(string.IsNullOrEmpty(job.LogId) ? "hidden" : "")">
          <a href="@Url.RouteUrl("JobLog", new {ownerId=job.OwnerId, repoId=job.RepositoryId, jobId=job.JobId})">View Full Log</a>
        </div>
      </div>
    }
  </div>
}
else
{
  <div class="ui warning message">
    None found.
  </div>
}