@model DataDock.Web.ViewModels.DashboardViewModel
@{
    Layout = "~/Views/Shared/_DashboardBaseLayout.cshtml";
    Model.Title = Model.Title + " Summary";
}

<div class="ui grid">
  <div class="eight wide column">
    <h3>Datasets</h3>
      <div class="data-loader"
           data-endpoint="@Url.RouteUrl("DatasetsLoader", new {ownerId = @Model.SelectedOwnerId, repoId = @Model.SelectedRepoId})">
          <div id="loadingJobs">
              @await Html.PartialAsync("_SpinnerPartial")
          </div>
      </div>
  </div>
  <div class="eight wide column">
      <h3>Jobs</h3>
      <div class="data-loader"
           data-endpoint="@Url.RouteUrl("JobsLoader", new {ownerId = @Model.SelectedOwnerId, repoId = @Model.SelectedRepoId})">
          <div id="loadingJobs">
              @await Html.PartialAsync("_SpinnerPartial")
          </div>
      </div>
  </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() { refresh() });

        function refresh() {
            $('.data-loader').each(function() {
                var endpoint = $(this).data('endpoint');
                var container = this;
                $.ajax({
                    type: "GET",
                    url: endpoint
                }).done(function(data) {
                    $(container).html(data);
                });
            });
            setTimeout(function() { refresh(); }, 5000);
        }
    </script>
}