@model DataDock.Web.ViewModels.DashboardViewModel
@{
  Layout = "~/Views/Shared/_DashboardBaseLayout.cshtml";
  Model.Title = Model.Title + " Add Data";
}

<div id="app"
    data-owner-id="@ViewData["OwnerId"]"
    data-repo-id="@ViewData["RepoId"]"
    data-publish-url="@ViewData["PublishUrl"]"
    data-base-url="@ViewData["BaseUrl"]"
    data-api-url="@ViewData["BaseUrl"]/api"
    @if (ViewData["SchemaId"] != null)
    {
        <text>data-schema-id="@ViewData["SchemaId"]"</text>
    }
    >
</div>
@section scripts {
    <script src="/js/chunk-vendors.js"></script>
    <script src="/js/app.js"></script>
}