@using DataDock.Web.Models
@model List<DataDock.Web.Models.RepositoryInfo>

@if (Model != null & Model.Count > 0)
{
  <div class="ui relaxed selection divided list">
    @foreach (RepositoryInfo r in Model)
    {    
      <a class="item no-underline" href="@r.DataDockImportUrl" title="Add Data to @r.RepoId">
        @if (!string.IsNullOrEmpty(r.OwnerAvatar))
        {
          <img class="ui avatar image" src="@r.OwnerAvatar" alt="@r.OwnerId"/>
        }
        else
        {
          <i class="large disk outline icon"></i>
        }
        <div class="content">
          <div class="header">@r.RepoId</div>
          @r.OwnerId
        </div>
      </a>

    }
  </div>
}
else
{
  <div class="">
    No repositories found.
  </div>
}
